* {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    }
    footer {
        /* border: 2px solid grey; */
        color: #97fff3;
        font-size: 1rem;
    }
    .tg3 img{
        width:8rem;
        height:auto;
        margin-top: 12rem;
    }
    .tg4 img{
        width:8rem;
        height:auto;
    }
    .tg5 img{
        width:8rem;
        height:auto;
    }
    .inner{
       height:15rem;
        width:100%;
        display: flex;
        flex-direction: column;
        visibility: hidden;
        color:aqua;
        background-color: rgba(17, 0, 255, 0.568);
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family: myFifthFont;
        font-size: 1.5rem;
        text-shadow:none;
    }
    .soc{
        justify-content: center;
        align-items: baseline;
        text-align: center;
        margin-bottom: 4rem;
        width: 100%;
    }
    #contact{
        font-size: 2.2rem;
    }
    .id2 img{
        height:2rem;
        width:2rem;
    }
    
.tag {
    font-size: 3rem;
}
.tag2{
    font-size: 3rem;
}
#content .box h3 {
    font-size: 1.4rem;
}
.row>* {
    
    padding-right:0;
}
#content .box img {
    height: 12rem;
}
#content .box {
    height: 15rem;
    margin: 20px;
}
.imag img {
    height: 14rem;
    padding: 10px 0;
    width: 100%;
}
.divv {
    font-size: 20px;
    word-spacing:5px;
}
#navbar ul li a {
    font-size: 0.8rem;
    margin-bottom:2px;
    padding:3px;
}
#boutus2 h1 {
    margin-top: 7rem;
}
.hd {
    font-size: 14px;
    font-weight: bold;
}

    .para {
        flex-direction: column;
        padding: 10px;
        height: 40rem;
    }
#boutus2 h1 {
    font-size: 4rem;
}
#appoint input{
    width: 17rem;
}
#appoint select{
    width:17rem;
}
.input-group{
    flex-direction: column;
}
.iboxx{
    width:9rem;
    margin:0.5rem;
    height:9rem;
}
.iboxx img{
    width:9rem;
    height: 9rem;
}
#content3{
    padding:5rem 0rem;
}
#boutus2 h1 {
    margin-top: 6rem;
}
